* {
    font-family: 'Default', 'Microsoft YaHei', 'tahoma', 'arial';
    padding: 0;
    margin: 0;
}

/*html5*/
article,
aside,
dialog,
footer,
header,
section,
nav,
figure,
menu {
    display: block
}

/* 推荐加在全局样式文件 */
:root {
    box-sizing: border-box;
    /* 设置根元素的 box-sizing: border-box */
}

*,
*:before,
*:after {
    box-sizing: inherit;
    /* box-sizing 继承自父元素 */
}

@font-face {
    font-family: 'Default';
    src: url(fonts/Default.woff2);
}

@font-face {
    font-family: "三极素纤简体";
    src: url(fonts/三极素纤简体.ttf);
}

@font-face {
    font-family: 'Minecraft-Bold';
    src: url(fonts/Minecraft-Bold.otf)
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    padding: 10px;
    display: block;
    user-select: none;
}



h3 {
    color: rgb(204, 127, 140);
    border-bottom: solid 4px rgb(173, 171, 171);
}

li {
    list-style: none;
}
dl {
    display: inline-block;
}

del {
    text-decoration-color: #000000;
    text-decoration-thickness: 8px;
}

br {
    user-select: none;
}

p {
    user-select: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

html {
    scroll-behavior: smooth;
}


code {
        background-color: #f1f1f1;
        /* 浅灰色背景 */
        border: 1px solid #ccc;
        /* 浅灰色边框 */
        padding: 3px 5px;
        /* 内边距 */
        font-family: monospace;
        /* 等宽字体 */
        color: #333;
        /* 深灰色文字 */
        border-radius: 4px;
        /* 圆角边框 */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        /* 阴影效果 */
        white-space: nowrap;
        /* 防止内容换行 */
        overflow: auto;
        /* 溢出时显示滚动条 */
    }


button {
    display: block;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

/* 链接样式开始 */
a {
    text-decoration: none;
    transition: all 0.3s ease-in;
    padding: .6rem;
    display: inline-block;
    font-size: 18px;
    line-height: 27px;
}

section a:link {
    color: skyblue;
}

section a:visited {
    color: #BCB399;
}

section a:hover {
    background: rgb(255, 165, 0);
    border-radius: 0.6rem;
    color: white;
}

::selection {
    background: rgb(10, 224, 240);
    color: #333;
}

::-moz-selection {
    background: rgb(10, 224, 240);
    color: #333;
}

::-webkit-selection {
    background: rgb(10, 224, 240);
    color: #333;
}

a::selection {
    color: white;
    background-color: skyblue;
}

span::selection {
    color: rgb(14, 49, 161);
    background-color: rgb(235, 229, 229);

}
/* 链接样式结束 */
/*  备用背景
body {
   
            background-image: url("https://api.ghser.com/random/bg.php","https://www.dmoe.cc/random.php");
            background-size: cover;
            background-attachment: fixed;
            padding: 1em;         
}
 */