* {
    font-family: "三极素纤简体", 'Microsoft YaHei', 'tahoma', 'arial';
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

@font-face {
    font-family: 'Minecraft-Regular';
    src: url(fonts/1_Minecraft-Regular.otf);
}

@font-face {
    font-family: "三极素纤简体";
    src: url(fonts／三极素纤简体.ttf);
}

h3 {
    border-bottom: solid 1px black;
    margin-top: 1em;
}

html {
    scroll-behavior: smooth;
}

span {
    border-bottom: solid 1px black;
    margin-top: 1em;
}

span:hover {
    color: blue;
}

button {
    display: block;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

/* 链接样式开始 */
a {
    transition: all 0.3s ease-in;
    padding: .6rem;
    display: inline-block;
    font-size: 18px;
    line-height: 27px;
}

a:link {
    color: skyblue;
}

a:visited {
    color: #BCB399;
}

a:hover {
    background: orange;
    border-radius: 0.6rem;
    color: white;
}

a:active {
    color: #17FF5F;
    font-size: 20px;
}

a::selection {
    color: white;
    background-color: skyblue;
}

/* 链接样式结束 */
/*  备用背景
body {
   
            background-image: url("https://api.ghser.com/random/bg.php","https://www.dmoe.cc/random.php");
            background-size: cover;
            background-attachment: fixed;
            padding: 1em;         
}
 */
.site-container {
    flex-flow: row wrap;
}