* {
    font-family: "三极素纤简体", 'Microsoft YaHei', 'tahoma', 'arial';
    padding: 0;
    margin: 0;
}

/*html5*/
article,
aside,
dialog,
footer,
header,
section,
nav,
figure,
menu {
    display: block
}

@font-face {
    font-family: 'Minecraft-Regular';
    src: url(fonts/1_Minecraft-Regular.otf);
}

@font-face {
    font-family: "三极素纤简体";
    src: url(fonts/三极素纤简体.ttf);
}

h2,
h3,
h4 {
    text-align: center;

}

h3 {
    border-bottom: solid 1px black;
    margin-top: 1em;
}


dl {
    display: inline-block;

}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #cccccc;
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: 300px;
    animation: fadeIn 1s ease-in-out;
    cursor: pointer;
}

li a {
    font-family: 'Minecraft-Regular';
}

li:hover {
    transform: scale(1.05);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

html {
    scroll-behavior: smooth;
}

span {
    border-bottom: solid 1px black;
    margin-top: 1em;
}

span:hover {
    color: blue;
}

button {
    display: block;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

/* 链接样式开始 */
a {
    text-decoration: none;
    transition: all 0.3s ease-in;
    padding: .6rem;
    display: inline-block;
    font-size: 18px;
    line-height: 27px;
}

a:link {
    color: skyblue;
}

a:visited {
    color: #BCB399;
}

a:hover {
    background: orange;
    border-radius: 0.6rem;
    color: white;
}

a::selection {
    color: white;
    background-color: skyblue;
}

div::selection {
    color: white;
    background-color: pink;
}




/* 链接样式结束 */
/*  备用背景
body {
   
            background-image: url("https://api.ghser.com/random/bg.php","https://www.dmoe.cc/random.php");
            background-size: cover;
            background-attachment: fixed;
            padding: 1em;         
}
 */