/* 头部css开始 */
/* 回到顶部css开始 */
.backtop {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 3000;
}

.backtop a:hover {
    background: none;
}

a>.btnbacktop {
    font-size: 2rem;
    margin: 1rem 0 0;
    padding: 0;
    width: 3.33rem;
    height: 3.33rem;
    line-height: 0;
    color: #333;
    background-color: #EEA5A5;
    border: 1px solid #e3e8ee;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, .05);

}

/* 回到顶部css结束 */
/* 弹窗公告css开始 */
#popup {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    background-color: #CDEFFA;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    z-index: 9999;
}

#popup p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}

#popup_ol {
    display: inline;
    list-style: none;
    text-align: center;
}

#popup_ol del {
    color: #989898;
}

#wanchenqinkuang {
    font-size: 1.25rem;

}

.tcbutton {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #0077cc;
    color: #fff;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

.tcbutton:hover {
    background-color: #005fa3;
}

/* 弹窗公告css结束 */
/* 背景图片css开始 */
body {
    background-image: url("https://api.yimian.xyz/img?type=moe&size=1920x1080");
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Default.woff2';
}

#mySidenav {
    background-color: #f1f1f1ee;
    padding: 1em;
    border-radius: 0px;
}

/* 背景图片css结束 */
header {
    padding: 0;
    margin: 0;
    position: sticky;
    top: 0;
}

.start-time {
    color: #555
}

.header-container {
    background-color: #E3E3E3;
    height: 50px;
}

.text-logo {
    float: left;
    line-height: 50px;
    color: #27D5CB;
    background: none;
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    text-shadow: 3px 3px 5px #27D5CB;
    display: inline;
}

.text-logo a:visited {
    color: #AEFFA2;
    text-shadow: 3px 3px 5px #27D5CB;
}

.text-logo a:hover {
    background: none;
    border-radius: none;
    color: white;
}

.navigator {
    float: left;
    line-height: 50px;
}

.navigator p a {
    color: gray;
    font-size: 20px;
    line-height: 20px;
    display: inline;
}

.navigator p a:visited {
    display: none;
}

.navigator p a:hover {
    background: none;
    border-radius: none;
    color: white;
}

/* 头部css结束 */
.header-end {
    padding-top: 15px;
    padding-bottom: 15px;
}

section {
    padding-bottom: 30px;
    padding-left: 40px;
}

summary {
    list-style: none;
    display: grid;
    place-items: center;
    color: gray;
    background-color: #C5C5C5;
    border-radius: 10px;
    font-size: 18px;
}

.summary::-webkit-details-marker {
    display: none;
}

.more a {
    transition: all 0.3s ease-in;
    padding: .4rem;
    display: inline-block;
    font-size: 18px;
    line-height: 27px;
    word-wrap: break-word;
}

.more a:link {
    color: #BCB399;
}

.more a:visited {
    color: skyblue;
}

.more a:hover {
    background: blue;
    border-radius: 0.8rem;
    color: #f1f1f1ee;
}

.more a:active {
    color: red;
    font-size: 20px;
}

.more::selection {
    color: #f1f1f1ee;
    background-color: pink;
}

/* 底部css开始 */
footer {
    padding-bottom: 10px;
    background: #1E1E1E;
    color: #AEAEAE;
    text-transform: none;
    padding-top: 5px;
}

footer a:link {
    color: white;
    font-size: 20px;
}

footer a:hover {
    background: #EAEAEA;
    color: #FF1723;
}

.footer-link {
    padding-bottom: 3rem;
}


footer dl dt {
    font-size: 20px;
    font-weight: 700;

}

footer dl dt dd a {
    padding-bottom: .2px;

}

@media screen and (orientation: landscape) {
    .mobile-nav {
        display: none;
    }

}