/* 头部css开始 */
/* 回到顶部css开始 */

.backtop {

    position: fixed;

    right: 2rem;

    bottom: 2rem;

    z-index: 1000;
}

.backtop a:hover {
    background: none;
}

a>.btnbacktop {

    font-size: 2rem;

    margin: 1rem 0 0;

    padding: 0;

    width: 3.33rem;

    height: 3.33rem;

    line-height: 0;

    color: #333;

    background-color: #EEA5A5;

    border: 1px solid #e3e8ee;

    border-radius: 50%;

    box-shadow: 0 0 5px rgba(0, 0, 0, .05);

}

/* 回到顶部css结束 */
/* 弹窗公告css开始 */

#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 20px;
    background-color: #CDEFFA;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    z-index: 9999;
}


#popup p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}

.tcbutton {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #0077cc;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

.tcbutton:hover {
    background-color: #005fa3;
}

/* 弹窗公告css结束 */
/* 背景图片css开始 */
body {

    background-image: url("https://api.asxe.vip/random.php");

    background-size: cover;

    background-attachment: fixed;

}

#mySidenav {
    background-color: #f1f1f1ee;
    padding: 1em;
    border-radius: 0px;
}

/* 背景图片css结束 */
.hui {
    color: #555
}

header a:link {
    color: gray;
    font-size: 18px;
}

/* 头部css结束 */
ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #cccccc;
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: 300px;
    transition: all 1s;
    cursor: pointer;
    animation: fadeIn 1s ease-in-out;
}

li a {
    font-family: 'Minecraft-Regular';
}

li:hover {
    transform: scale(1.05);
    opacity: 0.3;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

section {
    padding-bottom: 30px;
    padding-left: 40px;
}

summary {
    color: gray;
    font-size: 18px;
}

.more a {
    transition: all 0.3s ease-in;
    padding: .5rem;
    display: inline-block;
    font-size: 18px;
    line-height: 27px;
}

.more a:link {
    color: #BCB399;
}

.more a:visited {
    color: skyblue;
}

.more a:hover {
    background: blue;
    border-radius: 0.8rem;
    color: #f1f1f1ee;
}

.more a:active {
    color: red;
    font-size: 20px;
}

.more::selection {
    color: #f1f1f1ee;
    background-color: pink;
}

/* 底部css开始 */
footer {
    padding-top: 20px;
    bottom: 2px;
    width: 100%;
}

footer a:link {
    color: black;
    font-size: 18px;
}