*{
font-family: 宋体;
}
a {
  font-family: 微软雅黑;
  color: #824ce6;
}

/* 回到顶部css */
.backtop{
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 1000;	
}
a>.btnbacktop{
    font-size: 2rem;
    margin: 1rem 0 0;
    padding: 0;
    width: 3.33rem;
    height: 3.33rem;
    line-height: 0;
    color: #333;
    background-color: #EEA5A5;
    border: 1px solid #e3e8ee;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,.05);
}

/* Add some anime-style styling */
    body {
        background-color: ;
        font-family: ;
    }

    h2,
    h3 {
        text-align: ;
        color: ;
    }

    h2 {
        font-size: ;
        margin-top: ;
    }

    h3 {
        font-size: ;
        margin: ;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        background-color: ;
        border-radius: 5px;
        box-shadow: 0px 0px 10px ;
        margin: 20px;
        padding: 20px;
        text-align: center;
        width: 400px;
    }
