  * {
      margin: 0;
  }

  a {
      text-decoration: none;
      color: skyblue;
      font-size: 30px;
      line-height: 40px;
  }

  body {
      background-image: url("https://www.dmoe.cc/random.php");
      background-size: cover;
      background-attachment: fixed;
      font-family: "三极素纤简体", sans-serif;
  }

  #mySidenav {
      background-color: #f1f1f1ee;
      padding: 1em;
      border-radius: 4px;
  }

        header {
            background-color: #003366;
            color: white;
            padding: 10px;
            text-align: center;
            font-size: 24px;
            margin-bottom: 20px;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover {
            background-color: #111;
        }

        h2 {
            color: #555;
        }

        .separator {
            width: 100%;
            height: 10px;
            background-color: #666;
            margin: 10px 2;
        }

        a {
            text-decoration: none;
        }

        time {
            color: #555;
            font-size: 15px;
        }